<div class="card mt-4">
    <div class="card-body">
        <div class="row">

            <div class="col-md-3"> 
                
                <div class="card bg-success">
                    <div card="card-body">
                        <h5 class="card-title">Total de Metas Financeiras</h5>
                        <p class="card-text text-white font-weight-bold display-6">R$ {{ goal_metrics.total_goal }}</p>
                    </div>
                </div>
            
            </div>

            <div class="col-md-3">
                
                <div class="card bg-primary">
                    <div card="card-body">
                        <h5 class="card-title">Total de Depósitos</h5>
                        <p class="card-text text-white font-weight-bold display-6">R$ {{ goal_metrics.total_deposit }}</p>
                    </div>
                </div>
            
            </div>

            <div class="col-md-3">
                
                <div class="card bg-danger">
                    <div card="card-body">
                        <h5 class="card-title">Total de Débitos</h5>
                        <p class="card-text text-white font-weight-bold display-6">R$ {{ goal_metrics.total_withdrawal }}</p>
                    </div>
                </div>
            
            </div>            

            <div class="col-md-3">
                
                <div class="card bg-secondary">
                    <div card="card-body">
                        <h5 class="card-title">Saldo Geral de Metas</h5>
                        <p class="card-text text-white font-weight-bold display-6">R$ {{ goal_metrics.total_balance }}</p>
                    </div>
                </div>
            
            </div>

        </div>
    </div>
</div>