{% extends 'base.html'  %}

{% block title %}
GIDAI - Débitos - Meta Financeira
{% endblock %}
{% block content %}

{% include 'components/_goal_metrics.html' %}
<div class="mb-4"></div>
 
<div class="row mb-3">

    <div class="col-md-6">
        <form method="get" action="{% url 'withdrawal_list' %}">
            <div class="input-group">
                <input type="text" class="form-control" name="goal" placeholder="Débito" value="{{ request.GET.goal}}">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
    
    <div class="col-md-6">
        <a href="{% url 'withdrawal_create' %}" class="btn btn-success float-end">
            <i class="bi bi-plus"></i>Débito
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Meta</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for withdrawal in withdrawals %}
                <tr>
                    <td> {{ withdrawal.id }} </td>                    
                    <td> {{ withdrawal.goal }} </td>
                    <td> {{ withdrawal.value}} </td>
                    <td> 
                        <a href="{% url 'withdrawal_detail' withdrawal.id %}" class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i>
                        </a>                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'components/_pagination.html' %}

{% endblock %}